extends layout

block content

  +nav("Service Registry", "dropdown_menu")
    +nav_item( "/" ) Home
    +nav_item( "/services" ) Services
    +nav_item( "/referenceData/categories" ) Reference Data
    +nav_item( "/applications", "active" ) Applications
    +nav_item( "/dataDictionary" ) API  Data Dictionary
    +nav_item( "contact.html" ) Contact
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Application Description
          .panel.panel-primary
            .panel-heading
              h2.panel-title Details
            .panel-body
              p Name: #{application.name}
              p Alias Id: #{application.aliasId}
              p STS Reference: #{application.stsRef}
              p 
                a(href="#{application.appInvRec}") #{application.id} App Inventory Record
    .col-xs-12.col-md-3
      p.lead Copyright 2016 Jim Walker / WBC
      p= sidebar.callToAction
