extends layout

block content

  +nav("Service Registry", "dropdown_menu")
    +nav_item( "/" ) Home
    +nav_item( "/services" ) Services
    +nav_item( "/referenceData/categories" ) Reference Data
    +nav_item( "/applications" ) Applications
    +nav_item( "/dataDictionary", "active" ) API Data Dictionary
    +nav_item( "contact.html" ) Contact
  .row.page-header: .col-lg-12
      h1= pageHeader.title
      p THIS IS A POC - DO NOT REFERENCE
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Details
            .panel-body
              p id: #{dataDictionaryItem.id}
              p name: #{dataDictionaryItem.unqualifedName}
              p attributeName: #{dataDictionaryItem.qualifiedName}
              p dataType: #{dataDictionaryItem.type}
              p format: #{dataDictionaryItem.typeFormat}
              p description: #{dataDictionaryItem.description}
              p lifecycle: #{dataDictionaryItem.lifecycleStatus}
              p ECDM Entity: #{dataDictionaryItem.ecdmEntity}
              p Superceded by: #{dataDictionaryItem.supercededBy}
              p Model Domains: #{dataDictionaryItem.modelDomains}
              p Resouces: #{dataDictionaryItem.resource}
  .row
    .col-xs-12.col-md-6
      p.lead Copyright 2016 Jim Walker / WBC
      p= sidebar.callToAction