extend layout

block content

  +nav("Service Registry", "dropdown_menu")
    +nav_item( "/" ) Home
    +nav_item( "/services" ) Services
    +nav_item( "/referenceData/categories", "active" ) Reference Data
    +nav_item( "/applications" ) Applications
    //+nav_item( "/dataDictionary" ) API Data Dictionary
    +nav_item( "contact.html" ) Contact
  .row.page-header: .col-lg-12
      h1 #{category[0].id} Reference Data Category
      p This library is FYI, and is valid as at 6th June 2016. It should NOT be used as the source of truth for Reference Data that is consumed by ESB Services and other Applications. 
      p 
      a(href="https://wbcspaces.intranet.westpac.com.au/btss/teams/sda/GCMESB/SOAESBProgram/del/Useful%20Information%20%20Documents/Enterprise%20Reference%20Data%20v1%200%2020160215.docx") Please click here 
      for the General Reference Data information that includes a high level summary of who to engage for Reference Data information, support and changes.
      p
  .row
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-9
          .panel.panel-primary
            .panel-heading
              h2.panel-title Description
          .panel.panel-primary
            .panel-heading
              h2.panel-title 
                a(href="/referenceData/codes/#{category[0].id}") Values
          div(class="table-responsive")
            table(class="table table-striped table-bordered")
              thead
                tr
                  th CanonicalCode
                  th Description
              tbody
                each code in category[0].codes
                  p
                    tr(class=(i % 2 == 0) ? 'odd' : 'even')
                      //span.label.label-success Active
                      td(class="active") #{code.CanonicalCode}  
                      td #{code.Description}
        .col-xs-12.col-sm-3
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{category[0].systemCodes.length} provider(s) with mapped codes
            .panel-body
              p
                each system in category[0].systemCodes 
                  p #{system}
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{category[0].services.length} consuming services
            .panel-body
              p
                each service in category[0].services 
                  p
                    a(href="/service/#{service}") #{service}
  .row  
    .col-xs-12.col-md-3
      p.lead Copyright 2016 Jim Walker / WBC
      p= sidebar.callToAction
