extends layout

block content

  +nav("Service Registry", "dropdown_menu")
<<<<<<< HEAD
    +nav_item( "/" ) Home
    +nav_item( "/services", "active" ) Services
    +nav_item( "/referenceData/categories" ) Reference Data
    +nav_item( "/applications" ) Applications
=======
    +nav_item( "../services" ) Home
    +nav_item( "../services", "active" ) Services
    +nav_item( "../referenceData" ) Reference Data
>>>>>>> 122c5a161efe25b1ef7de82f2781d3e0246dbcf6
    +nav_item( "contact.html" ) Contact
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-8
          .panel.panel-primary 
             .panel-heading 
               h2.panel-title Service Description 
             .panel-body 
               p #{service.description} 
           .panel.panel-primary 
             .panel-heading 
               h2.panel-title Service Documentation and Artefacts 
             .panel-body 
               p  
                 a(href="#{service.documentationLocation}") #{service.id} Documentation 
               p SVN Link (TBC)  
           .panel.panel-primary 
             .panel-heading 
               h2.panel-title Information Management Details  
             .panel-body 
               p BCRM: #{service.bcrm} 
               p IT Domain: #{service.itDomain} 
               p IFW Transactional Component: #{service.transactionalComponent} 
               p IFW Service Group: #{service.serviceGroup}    
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.mediations.length} Mediations
            .panel-body
              p            
                each mediation in service.mediations
                  p 
                  a(href="/mediation/#{mediation}") #{mediation}
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.consumers.length} Consumers
            .panel-body
              p
                each consumer in service.consumers
                  p
                    a(href="/application/#{consumer}") #{consumer} 
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.STSconsumers.length} STS Registered Consumers
            .panel-body
              p
                each STSconsumer in service.STSconsumers
                  p #{STSconsumer} &#32; 
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.referenceData.length} Reference Data Categories
            .panel-body
              p
                each category in service.referenceData
                  p
                    a(href="/referenceData/category/#{category}") #{category}
  .row  
    .col-xs-12.col-md-3
<<<<<<< HEAD
      p.lead Copyright 2016 Jim Walker / WBC
=======
      p.lead Copyright 2016 Jim Walker and WBC
>>>>>>> 122c5a161efe25b1ef7de82f2781d3e0246dbcf6
      p= sidebar.callToAction
