extends layout

block content

  +nav("Service Registry", "dropdown_menu")
    +nav_item( "/" ) Home
    +nav_item( "/services", "active" ) Services
    +nav_item( "/referenceData/categories" ) Reference Data
    +nav_item( "/applications" ) Applications
    +nav_item( "/dataDictionary" ) API Data Dictionary
    +nav_item( "contact.html" ) Contact
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-8
          .panel.panel-primary 
             .panel-heading 
               h2.panel-title Service Description 
             .panel-body 
               p #{service.description} 
           .panel.panel-primary 
             .panel-heading 
               h2.panel-title Service Documentation and Artefacts 
             .panel-body 
               p  
                 a(href="#{service.documentationLocation}") #{service.id} Documentation 
               p 
                 a(href="http://10.2.224.135/svn/esb/trunk/ServiceSchemas/#{service.transactionalComponent}/#{service.serviceGroup}/#{service.service}_#{service.name}/#{service.version}/") SVN Link   
           .panel.panel-primary 
             .panel-heading 
               h2.panel-title Information Management Details  
             .panel-body 
               p BCRM: #{service.bcrm} 
               p IT Domain: #{service.itDomain} 
               p IFW Transactional Component: #{service.transactionalComponent} 
               p IFW Service Group: #{service.serviceGroup}    
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.mediations.length} Mediations
            .panel-body
              p            
                each mediation in service.mediations
                  p 
                  a(href="/mediation/#{mediation}") #{mediation}
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.consumers.length} Consumers
          div(class="table-responsive")
            table(class="table table-striped table-bordered")
              thead
                tr
                  th Consumer
                  th Consuming
                  th Registered
              tbody
                each consumer in service.consumers
                  tr
                    td
                      a(href="/application/#{consumer.applicationId}") #{consumer.applicationId}
                    case consumer.consuming
                      when true
                        td.success Yes
                      default
                        td.warning No
                    case consumer.registered
                      when true
                        td.success Yes
                      default
                        td.warning No
          .panel.panel-primary
            .panel-heading
              h2.panel-title #{service.referenceData.length} Reference Data Categories
            .panel-body
              p
                each category in service.referenceData
                  p
                    a(href="/referenceData/category/#{category}") #{category}
  .row  
    .col-xs-12.col-md-3
      p.lead Copyright 2016 Jim Walker / WBC
      p= sidebar.callToAction
